# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore npm's debug log
npm-debug.log*

# Ignore yarn error logs
yarn-error.log*

# Ignore environment-specific configuration files (e.g., .env)
.env

# Ignore user-specific files and directories
.DS_Store
.vscode/
*.sublime-*
